* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "PingFang SC", STHeiti, "Microsoft Yahei", sans-serif; }

@font-face {
  font-family: 'icomoon';
  src: url("../icon/fonts/icomoon.eot?p7voad");
  src: url("../icon/fonts/icomoon.eot?p7voad#iefix") format("embedded-opentype"), url("../icon/fonts/icomoon.ttf?p7voad") format("truetype"), url("../icon/fonts/icomoon.woff?p7voad") format("woff"), url("../icon/fonts/icomoon.svg?p7voad#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-read:before {
  content: "\e636"; }

.icon-Music:before {
  content: "\e660"; }

.icon-Bicycle:before {
  content: "\e6ca"; }

.icon-lvyou:before {
  content: "\e730"; }

.icon-movie:before {
  content: "\e79c"; }

.icon-sheying:before {
  content: "\e7a2"; }

.icon-fasong:before {
  content: "\e8a0"; }

.icon-me:before {
  content: "\e8b7"; }

.icon-yuan:before {
  content: "\e8c1"; }

.icon-phone:before {
  content: "\f225"; }

.icon-letter:before {
  content: "\f270"; }

.icon-address:before {
  content: "\e645"; }
